.bs-docs-grid
  .row-fluid.show-grid
    .span1
      = f.input :younger_brothers ,:default_wrapper => :bootstrap_without_label
  .row-fluid.show-grid
    .span1
      = f.input :younger_sisters ,:default_wrapper => :bootstrap_without_label
